* {
    box-sizing: border-box;
}

body {
    margin:0;
}

.nav {
    background-color: lightgray;
    justify-content: space-between;
    display: flex;
    /*align-items: baseline;*/
    /*width:100%;*/
}

header nav a {
    color:black;
    text-decoration: none;
    display: inline-block;
    padding: .5em;
}

header nav a:hover {
    color: blue;
}

.item1 {
    display: flex;
    margin-right: auto ;
    flex-basis: auto;
}

.item2 {
    display: flex;
    font-size: 3em;
    padding: .2em 0 .2em 0;
    position:absolute;
}

.item3 {
    display: flex;
    margin-left:auto;
}






a:link{
    color: #E6ECF0;
}

.fas {
    display: flex;
    padding:.5em;
}

header nav .nav-bar-logo {
    position: absolute;
    width:100%;
    text-align: center;

}

a:visited {
    color: #E6ECF0;
}

a {
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
    margin:0;
    display: flex;
    align-items: center;
}



li {
    padding: .5em;

}

ul:not(.nav-bar-logo){
    z-index:100;
}

/*.logo {*/
/*    font-family: "Montserrat";*/
/*    font-size: 3em;*/
/*    padding: .2em 0 .2em 0;*/
/*    display: inline-block;*/
/*    flex-basis: content-box;*/

/*}*/