body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.messagemessage-info {
    border-radius: 10px;
    background: #c6d7f6;
    font-weight: bold;
    padding:10px;
    width: 70%;
    opacity: 0.9;
    color: #4b3fb8;
    margin:10px 10px;
    border:solid lightgray thin;
}
.messagemessage-success {
    border-radius: 10px;
    background: #c7ead3;
    font-weight: bold;
    padding: 10px 10px;
    width: 70%;
    opacity: 0.9;
    margin:10px 10px;
    color: #386a20;
    border:solid lightgray thin;
}
.messagemessage-warning {
    border-radius: 10px;
    background: #f2f1c2;
    font-weight: bold;
    padding: 10px 10px;
    width: 70%;
    opacity: 0.9;
    margin:10px 10px;
    color: #8b7924;
    border:solid lightgray thin;
}
.messagemessage-error {
    border-radius: 10px;
    background: #f1cbd0;
    font-width: bold;
    padding: 10px 10px;
    width: 70%;
    opacity: 0.9;
    color: #a65969;
    margin:10px 10px;
    border:solid lightgray thin;
}