* {
    box-sizing: border-box;
}

h2 {
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-grow: 1;
}

.box1 {
    /*flex-grow: 1;*/
    display: flex;
    border: 2px solid gray;
    min-width:0;
    width: 50%;
}

.box2 {
    /*flex-grow: 2;*/
    display: flex;
    border: 2pc solid gray;
    min-width:0;
    width:50%
}
img {
    display: flex;
    min-width:0;
}
.nav{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 1em;
}