* {
    box-sizing: border-box;
}

h2 {
    display: flex;
    justify-content: center;
}

.box1 {
    display: inline-flex;
    border: 2px solid gray;
    min-width:0;
}

.box2 {
    display: inline-flex;
    border: 2pc solid gray;
    min-width:0;
}
img {
    display: flex;
    min-width:0;
}
.nav{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 1em;
}