
.fancy-header {
    color: #2E383B; /* single line comment */
    text-decoration: underline;
}

.header{
    color:#2E383B;
    text-decoration: underline;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Helvetica', Helvetica;
}
body{
    background-color: aquamarine;
    background-image: url("https://static.thenounproject.com/png/3181734-200.png");
    background-size: 17%;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Open Sans', sans-serif;
    color:#2E383B;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a:link{
    color:#FD4D3F;
}
ul{
    text-align: center;
    list-style: inside;
    text-align: center;
    text-align: center;
}

li {
    margin: 0 auto;
}
ol{
    list-style-position: inside
    /*text-align: center;*/
    /*list-style: inside;*/
    /*display: inline-block*/

}

th, td {
    text-align: center;
    font-size: large;
    padding: 2px;
    text-align: center;
    border: 1px solid black;
}

.auto-margins {
    margin-left: auto;
    margin-right: auto;
}
table {
    border: 1px solid black;
    border: 2px;
    border-color:#FD4D3F;
    text-align: center;
    list-style: inside;
    text-decoration: underline;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/*
Add a style to change the table, table cells td and rows tr padding and font sizes.
Add a style to alter the anchor tags and its different states. (e.g. link, visited, hover and active).
                                                                                                     Continue experimenting with styles to increase the visual appeal of the page.

                                                                                                     /*
 */